In [21]:
import pandas as pd
from scipy.stats import zscore

In [15]:
# Crear un DataFrame
df = pd.read_csv(r'C:/Users/marti/OneDrive/Escritorio/Henry/Proyecto_Heart/Heart_Disease_Prediction.csv')

In [31]:
df

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
index,,,,,,,,,,,,,,
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [13]:
# Usar la funciÃ³n describe() analizar los datos
df.describe()

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000
mean,134.500000,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296
std,78.086491,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659
min,0.000000,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000
25%,67.250000,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000
50%,134.500000,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000
75%,201.750000,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000
max,269.000000,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000

In [41]:
# CONTROLAR COLUMNAS SELECCIONADAS 
# Seleccionar solo las columnas numÃ©ricas
num_cols = ['Age', 'BP', 'Cholesterol', 'Max HR', 'ST depression', 'Number of vessels fluro']

In [79]:

# Calcular los cuartiles Q1 y Q3 y el rango intercuartil (IQR) solo para las columnas numÃ©ricas
Q1 = df[num_cols].quantile(0.25)
Q3 = df[num_cols].quantile(0.75)
IQR = Q3 - Q1

# Identificar los outliers
df_outliers = df[(df[num_cols] < (Q1 - 1.5 * IQR)) | (df[num_cols] > (Q3 + 1.5 * IQR))].dropna(how='all')
df_outliers = df_outliers.align(df, join='right', axis=1)[0]

print(df_outliers)

       Age  Sex  Chest pain type     BP  Cholesterol  FBS over 120  \
index
0      NaN  NaN              NaN    NaN          NaN           NaN
1      NaN  NaN              NaN    NaN        564.0           NaN
9      NaN  NaN              NaN    NaN        407.0           NaN
46     NaN  NaN              NaN    NaN          NaN           NaN
48     NaN  NaN              NaN    NaN          NaN           NaN
49     NaN  NaN              NaN    NaN          NaN           NaN
52     NaN  NaN              NaN    NaN        417.0           NaN
58     NaN  NaN              NaN  174.0          NaN           NaN
75     NaN  NaN              NaN    NaN          NaN           NaN
87     NaN  NaN              NaN  178.0          NaN           NaN
101    NaN  NaN              NaN    NaN          NaN           NaN
103    NaN  NaN              NaN    NaN          NaN           NaN
110    NaN  NaN              NaN  180.0          NaN           NaN
117    NaN  NaN              NaN  200.0          NaN           NaN
120    NaN  NaN              NaN    NaN          NaN           NaN
144    NaN  NaN              NaN  192.0          NaN           NaN
156    NaN  NaN              NaN    NaN          NaN           NaN
159    NaN  NaN              NaN  178.0          NaN           NaN
165    NaN  NaN              NaN  180.0          NaN           NaN
171    NaN  NaN              NaN    NaN          NaN           NaN
175    NaN  NaN              NaN    NaN          NaN           NaN
176    NaN  NaN              NaN    NaN          NaN           NaN
181    NaN  NaN              NaN    NaN        409.0           NaN
184    NaN  NaN              NaN    NaN          NaN           NaN
187    NaN  NaN              NaN    NaN          NaN           NaN
188    NaN  NaN              NaN    NaN        394.0           NaN
199    NaN  NaN              NaN    NaN          NaN           NaN
213    NaN  NaN              NaN    NaN          NaN           NaN
223    NaN  NaN              NaN    NaN          NaN           NaN
234    NaN  NaN              NaN    NaN          NaN           NaN
235    NaN  NaN              NaN    NaN          NaN           NaN
240    NaN  NaN              NaN  180.0          NaN           NaN
265    NaN  NaN              NaN  172.0          NaN           NaN
269    NaN  NaN              NaN    NaN          NaN           NaN

       EKG results  Max HR  Exercise angina  ST depression  Slope of ST  \
index
0              NaN     NaN              NaN            NaN          NaN
1              NaN     NaN              NaN            NaN          NaN
9              NaN     NaN              NaN            NaN          NaN
46             NaN     NaN              NaN            NaN          NaN
48             NaN     NaN              NaN            NaN          NaN
49             NaN     NaN              NaN            NaN          NaN
52             NaN     NaN              NaN            NaN          NaN
58             NaN     NaN              NaN            NaN          NaN
75             NaN     NaN              NaN            NaN          NaN
87             NaN     NaN              NaN            4.2          NaN
101            NaN    71.0              NaN            NaN          NaN
103            NaN     NaN              NaN            NaN          NaN
110            NaN     NaN              NaN            NaN          NaN
117            NaN     NaN              NaN            NaN          NaN
120            NaN     NaN              NaN            NaN          NaN
144            NaN     NaN              NaN            NaN          NaN
156            NaN     NaN              NaN            5.6          NaN
159            NaN     NaN              NaN            NaN          NaN
165            NaN     NaN              NaN            NaN          NaN
171            NaN     NaN              NaN            NaN          NaN
175            NaN     NaN              NaN            NaN          NaN
176            NaN     NaN              NaN            4.2          NaN
181            NaN     NaN              NaN            NaN          NaN
184            NaN     NaN              NaN            NaN          NaN
187            NaN     NaN              NaN            NaN          NaN
188            NaN     NaN              NaN            NaN          NaN
199            NaN     NaN              NaN            NaN          NaN
213            NaN     NaN              NaN            NaN          NaN
223            NaN     NaN              NaN            NaN          NaN
234            NaN     NaN              NaN            NaN          NaN
235            NaN     NaN              NaN            6.2          NaN
240            NaN     NaN              NaN            NaN          NaN
265            NaN     NaN              NaN            NaN          NaN
269            NaN     NaN              NaN            NaN          NaN

       Number of vessels fluro  Thallium Heart Disease
index
0                          3.0       NaN           NaN
1                          NaN       NaN           NaN
9                          3.0       NaN           NaN
46                         3.0       NaN           NaN
48                         3.0       NaN           NaN
49                         3.0       NaN           NaN
52                         NaN       NaN           NaN
58                         NaN       NaN           NaN
75                         3.0       NaN           NaN
87                         NaN       NaN           NaN
101                        NaN       NaN           NaN
103                        3.0       NaN           NaN
110                        NaN       NaN           NaN
117                        NaN       NaN           NaN
120                        3.0       NaN           NaN
144                        NaN       NaN           NaN
156                        NaN       NaN           NaN
159                        NaN       NaN           NaN
165                        NaN       NaN           NaN
171                        3.0       NaN           NaN
175                        3.0       NaN           NaN
176                        3.0       NaN           NaN
181                        NaN       NaN           NaN
184                        3.0       NaN           NaN
187                        3.0       NaN           NaN
188                        NaN       NaN           NaN
199                        3.0       NaN           NaN
213                        3.0       NaN           NaN
223                        3.0       NaN           NaN
234                        3.0       NaN           NaN
235                        3.0       NaN           NaN
240                        NaN       NaN           NaN
265                        NaN       NaN           NaN
269                        3.0       NaN           NaN

In [78]:
# Filtrar solo los valores outliers
outliers = df_outliers.stack().dropna()

# Filtrar solo los valores outliers de columnas especificas
#outliers = df_outliers['BP'].dropna() 
#outliers = df_outliers.loc[:, ['Cholesterol', 'BP']].stack().dropna() 

# Mostrar solo los valores outliers
print(outliers)

index
0      Number of vessels fluro      3.0
1      Cholesterol                564.0
9      Cholesterol                407.0
       Number of vessels fluro      3.0
46     Number of vessels fluro      3.0
48     Number of vessels fluro      3.0
49     Number of vessels fluro      3.0
52     Cholesterol                417.0
58     BP                         174.0
75     Number of vessels fluro      3.0
87     BP                         178.0
       ST depression                4.2
101    Max HR                      71.0
103    Number of vessels fluro      3.0
110    BP                         180.0
117    BP                         200.0
120    Number of vessels fluro      3.0
144    BP                         192.0
156    ST depression                5.6
159    BP                         178.0
165    BP                         180.0
171    Number of vessels fluro      3.0
175    Number of vessels fluro      3.0
176    ST depression                4.2
       Number of vessels fluro      3.0
181    Cholesterol                409.0
184    Number of vessels fluro      3.0
187    Number of vessels fluro      3.0
188    Cholesterol                394.0
199    Number of vessels fluro      3.0
213    Number of vessels fluro      3.0
223    Number of vessels fluro      3.0
234    Number of vessels fluro      3.0
235    ST depression                6.2
       Number of vessels fluro      3.0
240    BP                         180.0
265    BP                         172.0
269    Number of vessels fluro      3.0
dtype: object

In [76]:
# Calcular el puntaje z para cada valor en las columnas numÃ©ricas seleccionadas
z_scores = df[num_cols].apply(zscore)

# Eliminar los valores que tengan un puntaje z mayor a 3 o menor a -3
df_clean = df[(z_scores < 3).all(axis=1) & (z_scores > -3).all(axis=1)]

In [80]:
df_clean

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
index,,,,,,,,,,,,,,
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
5,65,1,4,120,177,0,0,140,0,0.4,1,0,7,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence